{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=smartslot.db"
  },
  "Jwt": {
    "Key": "THIS_IS_MY_SUPER_SECRET_KEY_12345",
    "Issuer": "SmartSlot",
    "Audience": "SmartSlot"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}